[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "*"
pillow = "*"

[dev-packages]
ruff = "*"
black = "*"
djlint = "*"
coverage = "*"

[requires]
python_version = "3.12"
